# temp dirs
old/
tmp/
compose/mongo_data

# nuxt project
node_modules
*.log
.nuxt
nuxt.d.ts
.output
.env

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
