@import "../../variables.less";

h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}
.theme-changer {
    display: initial;
    margin-left: 20px;
}
.vs {
    &__dropdown-menu {
        position: fixed;
    }
}

.circle {
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 55%;
    height: 55%;
    border-radius: 55%;
    background-color: blue;
    -webkit-box-shadow: 0px 0px 2px 0px blue;
    -moz-box-shadow: 0px 0px 2px 0px blue;
    box-shadow: 0px 0px 2px 0px blue;

    &:hover {
        background-color: white;
        -webkit-box-shadow: 0px 0px 2px 0px white;
        -moz-box-shadow: 0px 0px 2px 0px white;
        box-shadow: 0px 0px 2px 0px white;
    }
}

.red {
    background: @red;
    border-color: @red;
}
.red-orange {
    background: @red-orange;
    border-color: @red-orange;
}
.orange {
    background: @orange;
    border-color: @orange;
}
.yellow-orange {
    background: @yellow-orange;
    border-color: @yellow-orange;
}
.yellow {
    background: @yellow;
    border-color: @yellow;
}
.yellow-green {
    background: @yellow-green;
    border-color: @yellow-green;
}
.green {
    background: @green;
    border-color: @green;
}
.blue-green {
    background: @blue-green;
    border-color: @blue-green;
}
.blue {
    background: @blue;
    border-color: @blue;
}
.blue-violet {
    background: @blue-violet;
    border-color: @blue-violet;
}
.violet {
    background: @violet;
    border-color: @violet;
}
.red-violet {
    background: @red-violet;
    border-color: @red-violet;
}

.wrapper {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

	.sector {
		position: absolute;
		transform-origin: 100% 100%;
		width: 5000px;
		height: 5000px;
		left: 50%;
		top: 50%;
		border: 2px solid;
		margin-top: -5000px;
		margin-left: -5000px;
        &:hover {
            background-color: white;
        }
    }
}