@import "../../variables.less";

h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}
.theme-changer {
    display: initial;
    margin-left: 20px;
}
.vs {
    &__dropdown-menu {
        position: fixed;
    }
}

.circle {
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 55%;
    height: 55%;
    border-radius: 55%;
    background-color: blue;
    -webkit-box-shadow: 0px 0px 2px 0px blue;
    -moz-box-shadow: 0px 0px 2px 0px blue;
    box-shadow: 0px 0px 2px 0px blue;

    &:hover {
        background-color: white;
        -webkit-box-shadow: 0px 0px 2px 0px white;
        -moz-box-shadow: 0px 0px 2px 0px white;
        box-shadow: 0px 0px 2px 0px white;
    }
}

.red {
    background: @red;
    border-color: @red;
}
.red-orange {
    background: @red-orange;
    border-color: @red-orange;
}
.orange {
    background: @orange;
    border-color: @orange;
}
.yellow-orange {
    background: @yellow-orange;
    border-color: @yellow-orange;
}
.yellow {
    background: @yellow;
    border-color: @yellow;
}
.yellow-green {
    background: @yellow-green;
    border-color: @yellow-green;
}
.green {
    background: @green;
    border-color: @green;
}
.blue-green {
    background: @blue-green;
    border-color: @blue-green;
}
.blue {
    background: @blue;
    border-color: @blue;
}
.blue-violet {
    background: @blue-violet;
    border-color: @blue-violet;
}
.violet {
    background: @violet;
    border-color: @violet;
}
.red-violet {
    background: @red-violet;
    border-color: @red-violet;
}

.wrapper {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

	.sector {
		position: absolute;
		transform-origin: 100% 100%;
		width: 5000px;
		height: 5000px;
		left: 50%;
		top: 50%;
		border: 2px solid;
		margin-top: -5000px;
		margin-left: -5000px;
        &:hover {
            background-color: white;
        }
    }
}


/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.modal-wrapper {
    position: fixed;
    width: 90vw;
    height: 100vh;
    padding: 5vw;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    // border: 1px solid #888;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.3);
    animation-name: animatetop;
    animation-duration: 0.4s;
    
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    // color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 