h3 {
    margin: 4rem 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 1rem;
}
a {
    color: #42b983;
}
.locale-changer {
    margin-left: 2rem;
    display: inline-flex;
    line-height: 0;
    width: 9rem;
    .ui-vue-select {
        width: 100%;
        .ui-vue-select-container {
            padding: 0.5rem;
        }
    }
}
