.locale-changer {
    float: right;
    font-weight: bold;
    color: var(--secondary, #ffffff);
    position: relative;
    details {
        summary {
            cursor: pointer;
            &:hover {
                color: var(--accent-text, #ffffff);
            }
        }
        .details-menu {
            display: block;
            position: absolute;
            right: 0;
            left: auto;
            top: 90%;
            z-index: 100;
            list-style: none;
            background-clip: padding-box;
            background-color: var(--body, #ffffff);
            border: 1px solid var(--primary, #2c3e50);
            border-radius: 6px;
            color: var(--body-text, #2c3e50);
            &::before {
                position: absolute;
                display: inline-block;
                content: "";
                border: 8px solid transparent;
                border-bottom: 8px solid var(--body, #ffffff);
                top: -16px;
                right: 9px;
                left: auto;
            }
            .details-menu-item {
                line-height: initial;
                padding: 0.5rem;
                cursor: pointer;

                &:first-child {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
                &:last-child {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
                &.selected {
                    background-color: var(--active, #42b983);
                    color: var(--active-text, #FFFFFF);
                }
                &:hover {
                    background-color: var(--accent, #EDC7b7);
                    color: var(--accent-text, #123c69);
                }
            }
        }
    }
}
