.magic-body {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  background: var(--ui-bg);

  .magic-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;

    background-repeat: repeat;
    background-color: var(--fantasy-color);
    mask-repeat: repeat;
    mask-position: 0 0;
    mask-size: 768px 768px;
    width: 100%;

    &.magic-layer-1 {
      mask-image: url("/img/transparent/magic/layer1.svg");
    }

    &.magic-layer-2 {
      background-color: var(--fantasy-color-soft);
      mask-image: url("/img/transparent/magic/layer2.svg");
    }

    &.magic-layer-3 {
      opacity: .7;
      mask-image: url("/img/transparent/magic/layer3.svg");
    }
  }

  .magic-glow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -2;
    background:
      linear-gradient(
        to bottom,
        color-mix(in srgb, var(--ui-bg) 60%, transparent),
        color-mix(in srgb, var(--ui-bg-accented) 60%, transparent)
      );
  }

  @media (max-width: 639px) {
    .magic-layer {
      display: none;
    }
  }
}
