@import "../../../variables.less";
.career {
    .layout {
        max-width: 80%;
        .card {
            display: flow-root;
            .about {
                display: flex;
                @media @tablet {
                    display: block;
                }
                .andrew {
                    height: 10rem;
                    display: block;
                    border-radius: 100%;
                    margin-right: 5rem;
                    @media @tablet {
                        margin: auto;
                    }
                }
                .bio {
                    margin-top: 1.5rem;
                    float: left;
                }
            }
            .social-media {
                display: block;
                margin-top: 2rem;
                img {
                    height: 3rem;
                    border-radius: 100%;
                    margin-right: 1rem;
                }
            }
        }
    }
}