@import "../../../variables.less";
.career {
    .layout {
        max-width: 80%;
        .card {
            display: flow-root;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
            h1 {
                text-align: center;
                margin-bottom: 2rem;
            }
            .about {
                h1 {
                    margin-bottom: 0;
                }
                display: flex;
                @media @tablet {
                    display: block;
                }
                .andrew {
                    height: 10rem;
                    display: block;
                    border-radius: 100%;
                    margin-right: 5rem;
                    @media @tablet {
                        margin: auto;
                    }
                }
                .bio {
                    margin-top: 1.5rem;
                    float: left;
                }
            }
            .social-media {
                display: block;
                margin-top: 2rem;
                img {
                    height: 3rem;
                    border-radius: 100%;
                    margin-right: 1rem;
                }
            }
            article {
                font-size: large;
                text-align: left;
                .text {
                    margin-bottom: 1rem;
                }
                details.description {
                    &[open] {
                        summary {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                    summary {
                        cursor: pointer;
                        background: var(--accent);
                        color: var(--accent-text);
                        border-radius: 1rem;
                        padding: 0.5rem;
                    }
                    .description-body {
                        background: var(--info);
                        color: var(--info-text);
                        padding: 1rem;
                        border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                    }
                }
                &.experience {
                    .card {
                        h3 {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}