
.modal-window {
    z-index: 9999999999;
    position: fixed;
    height: 100vh;
    width: calc(100vw - 6rem);
    padding: 3rem;
    left: 0;
    top: 0;
    background-color: var(--shadow, #2c3e507F);
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        // border: 1px solid #888;
        border-radius: 1rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        box-shadow: 0 0.6rem 2rem 0 var(--shadow, #2c3e507F);
        animation-name: animatetop;
        animation-duration: 0.4s;
        
        background-color: var(--body, #ffffff);
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;

        .modal-header {
            padding: 1rem;
            line-height: initial;
            border-top-left-radius: 1.8rem;
            border-top-right-radius: 1.8rem;
            background-color: var(--primary, #2c3e50);
            color: var(--secondary, #ffffff);
            @media screen and (max-height: 450px) {
                line-height: initial;
            }
            h2 {
                color: var(--secondary, #ffffff);
            }

            .close {
                color: var(--secondary, #ffffff);
                float: right;
                font-size: 2rem;
                font-weight: bold;
                position: relative;
                top: -0.3rem;
                &:hover, &:focus {
                    color: var(--accent, #82B1FF);
                    text-decoration: none;
                    cursor: pointer;
                }
            }            
        }

        .modal-body {
            padding: 0.2rem 1.6rem;
            height: calc(100vh - 10rem);
            overflow-y: auto;
            min-height: 10rem;
            background-color: var(--body, #ffffff);
            @media screen and (max-height: 450px) {
                height: calc(100vh - 10rem);
            }
        }
        
        .modal-footer {
            padding: 2px 16px;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            background-color: var(--primary, #2c3e50);
            color: var(--secondary, #ffffff);
            @media screen and (max-height: 450px) {
                line-height: initial;
                padding: 5px;
            }
        }
    }
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
