body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.class_name{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
}

.nav {
  display: block;
  padding: 15px;
  background-color: #2c3e50;
  margin-bottom: 40px;
  a {
    font-weight: bold;
    color: white;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  &.static {
    position: static;
    visibility: hidden;
  }
  &.fixed {
    position: fixed;
    width: 100vw;
    top: 0;
  }
}
