@import "./variables.less";
@import "./styles/layout.less";
@import "./styles/form.less";
@import "./styles/controls.less";

* {
  margin: 0;
}
html, body {
  height: 100%;
  @media screen and (max-width: 200px) {
    word-wrap: anywhere;   
  }
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--body);
  color: var(--body-text);
  min-height: 100%;
  *:focus {
    outline: 0;
  }
  &.user-is-tabbing *:focus {
    outline: 2px dotted var(--body-text) !important;
  }
}
